<!-- <form [formGroup]="bookForm" (ngSubmit)="onUpdate()">
<div class="container">
  <h1>{{ book.title }}</h1>
  <h4>by {{ book.author }}</h4>
  <p>{{ book.description }}</p>
  <p>Status: {{ book.status }}</p>

</div> -->
<div>
  <form [formGroup]="bookForm" (ngSubmit)="updateAndSaveBook()">
    <label for="title">Title</label>
    <input id="title" formControlName="title" type="text" />

    <label for="author">Author</label>
    <input id="author" formControlName="author" type="text" />

    <label for="description">Description</label>
    <input id="description" formControlName="description" type="text" />

    <label for="status">Status</label>
    <input id="status" formControlName="status" type="checkbox" />

    <button type="submit">Update</button>
    <!-- <button (onUpdate)="updateBook(book)">View</button> -->
    <button routerLink="/" routerLinkActive="selected-menu" class="btn btn-primary">Back to list</button>
  </form>

